<fhheader title="The Internet of Things" subtext="needs a strong Partner"></fhheader>
<section id="content">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
        <div class="myAboutContent">
          <p>This mobile app is part of the 'All in One IoT Demo' from Patrick Steiner. You cann connect
          yourself with the BPM Suite of the demo.</p>
          <p>For any questions you can ask<br> Patrick Steiner: <a href="mailto:psteiner@redhat.com">psteiner@redhat.com</a>
          <br> Sebastian Dehn: <a href="mailto:sdehn@redhat.com">sdehn@redhat.com</a></p>
          <p>For more information about the 'All in One IoT Demo' or this mobile app have a look at
          <br><br><a href="http://www.opensourcerers.org/" class="myOpenSourcerersLink">www.opensourcerers.org</a></p>
        </div>
      </div>
    </div>
   </div>
 </section>

 <fhfooter  data-ng-init="initVersion()" version={{version}}></fhfooter>
