<fhheader title="The Internet of Things" subtext="needs a strong Partner"></fhheader>
<section id="content">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
        <div class="input-group input-group myLoginPanel" data-ng-init="initCookies()">
            <input ng-model="username" required="true" placeholder="Enter your BPM-Username" type="text" class="form-control"></input>
            <input ng-model="password" required="true" placeholder="Enter your BPM-Password" type="password" class="form-control"></input>
            <input ng-model="ip" required="true" placeholder="Enter IP of your BPM" type="text" class="form-control"></input>
            <input ng-model="port" required="true" placeholder="Enter Port of your BPM" type="text" class="form-control"></input>
        </div>
        <button type="button" class="btn btn-primary btn-block myBigButtons" ng-click="setLoginCookieAndNavigateToTasks()">Set login</button>
      </div>
    </div>
   </div>
 </section>
