<fhheader title="The Internet of things" subtext="needs a strong Partner"></fhheader>

<section id="content">
    <div id="formWrapper">
        <div class="input-group input-group">
            <input ng-model="username" required="true" placeholder="Enter your BPM-Username" type="text" class="form-control"></input>
            <input ng-model="password" required="true" placeholder="Enter your BPM-Password" type="password" class="form-control"></input>
            <input ng-model="ip" required="true" placeholder="Enter IP of your BPM" type="text" class="form-control"></input>
            <input ng-model="port" required="true" placeholder="Enter Port of your BPM" type="number" class="form-control"></input>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-block" ng-click="getTasks()">Get my tasks</button>
        <div ng-show="tasks" class="text-center jumbotron result">
          <table>
            <tr>
              <th>Id</th>
              <th>Task name</th>
              <th>Actual owner</th>
              <th>Status</th>
            </tr>
            <tr ng-repeat="task in tasks" ng-click="test()">
              <td>{{task.id}}</td>
              <td>{{task.name}}</td>
              <td>{{task.actualOwnerId}}</td>
              <td>{{task.status}}</td>
            </tr>
          </table>
      </div>
      <div ng-show="noticeMessage" class="text-center jumbotron result {{textClassName}}">{{noticeMessage}}
    </div>
</section>

<fhfooter></fhfooter>
