.myNavbar{
  background-color: #000000;
}

.myNavbarLinks li a{
  color: #FFFFFF !IMPORTANT;
}

.myHeader{
  background-color: #cc0000;
}

.myFooter{
  background-color: #cc0000;
  color: #000000;
  margin-top: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.myLogo{
  float: left;
  margin-bottom: 2%;
}

.myBrand{
  color: #000000 !IMPORTANT;
}

.small {
  color: #000000 !IMPORTANT;
  font-size: 0.7em;
}
.myBigButtons{
  margin-top: 2%;
  margin-bottom: 2% !IMPORTANT;
  background-color: #cc0000 !IMPORTANT;
  border-color: #cc0000 !IMPORTANT;
}

.mySmallButtons{
  margin-top: 2%;
  margin-bottom: 2% !IMPORTANT;
  background-color: #cc0000 !IMPORTANT;
  border-color: #cc0000 !IMPORTANT;
}

.myLoginPanel{
  margin-top: 2%;
  width: 100%;
}

.myTaskContent{
  text-align: end;
}

.myNoticeMessage{
  text-align: center;
  font-size: 1.5em;
  color: #cc0000;
}

.myAboutContent{
  text-align: center;
  font-size: 1.0em;
  color: #cc0000;
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
  border: 2px solid;
  border-radius: 25px;
  border-color: #101010;
}

.myOpenSourcerersLink{
  font-size: 1.5em;
}
