.myNavbar{
  background-color: #000000;
}

.myNavbarLinks li a{
  color: #FFFFFF !IMPORTANT;
}

.myHeader{
  background-color: #cc0000;
}

.myLogo{
  float: left;
}

.myBrand{
  color: #000000 !IMPORTANT;
}

.small {
  color: #000000 !IMPORTANT;
  font-size: 0.7em;
}
.myBigButtons{
  margin-top: 2%;
  margin-bottom: 2% !IMPORTANT;
  background-color: #cc0000 !IMPORTANT;
  border-color: #cc0000 !IMPORTANT;
}

.mySmallButtons{
  margin-top: 2%;
  margin-bottom: 2% !IMPORTANT;
  background-color: #cc0000 !IMPORTANT;
  border-color: #cc0000 !IMPORTANT;
}

.myLoginPanel{
  margin-top: 2%;
  width: 100%;
}

.myTaskContent{
  text-align: end;
}
